<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Best Movies</strong> by <a href="http://giovannigaliero.co.uk/" target="_blank">Giovanni Galiero</a>
      </p>
      <p>Made with &hearts; at <a href="https://generalassemb.ly/locations/london" target="_blank">GA</a> WDI 29</p>
      <p>
        <a class="icon" href="https://github.com/Gio85" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://www.facebook.com/ggaliero" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="icon" href="https://twitter.com/GiovanniGaliero" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
