  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://cdn0.iconfinder.com/data/icons/awards-6/500/award_oscar-512.png" alt="BestMovies">
        &nbsp;
        Best Movies
      </a>
      <div class="navbar-burger" data-target="#mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="mobile-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/movies">Movies</a>
        <a class="navbar-item" href="/directors">Directors</a>
        <% if(!locals.isAuthenticated) { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
        <% } else {%>
          <a class="navbar-item" href="/movies/new">New Movie</a>
          <a class="navbar-item" href="/logout">Logout</a>
          <% } %>
      </div>
    </div>
  </nav>
