<div class="container">
  <form method="POST" action="/directors">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name" required>
      </div>
    </div>
    <div class="field">
      <label class="label">IMDb link</label>
      <div class="control">
        <input class="input" name="wiki" type="text" placeholder="IMDb link" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Country</label>
      <div class="control">
        <input class="input" name="country" type="text" placeholder="Country" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Synopsis</label>
      <div class="control">
        <input class="input" name="synopsis" type="text" placeholder="Director summary" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required>
      </div>
    </div>
    <div class="control">
      <button class="button is-success">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
        <span>Save</span>
      </button>
    </div>
  </form>
</div>
