<div class="container">
  <form method="POST" action="/movies">
    <div class="field">
      <label for="title">Director</label>
      <div class="control">
        <div class="select">
          <select name="director">
            <% directors.forEach((director) =>{%>
              <option value="<%= director.id %>"><%= director.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" name="title" type="text" placeholder="Title" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Year</label>
      <div class="control">
        <input class="input" name="year" type="text" placeholder="Year" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Wikipedia</label>
      <div class="control">
        <input class="input" name="wiki" type="text" placeholder="Wikipedia link" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Youtube</label>
      <div class="control">
        <input class="input" name="youtube" type="text" placeholder="Youtube link" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Film Synopsis</label>
      <div class="control">
        <textarea class="textarea" name="filmSynopsis" placeholder="Film Synopsis" maxlength="580" required></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-success">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
        <span>Save</span>
      </button>
    </div>
  </form>
</div>
