.hero.homepage {
  background-image: url(http://www.thetoc.gr/images/articles/0/article_5102/article5102.w_hr.jpg);
  background-size: cover;
}

.navbar-menu.is-active {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: black;
}
body{
  background-color: grey;
}
.title, .subtitle{
  color: black;
}
p{
  color: black;
}
form.favorite button {
  background: transparent;
  border: none;
  position: absolute;
  color: red;
  outline: none;
  z-index: 1;
}
.is-fixed-top{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.section {
    padding: 5rem 1.5rem;
}

.input{
  width: 70%;
  
}
