@import "bulma/sass/utilities/initial-variables";

$primary: orange;
$danger: #f9628b;
$family-serif: 'Playfair Display', serif;
$family-primary: $family-serif;

@import "bulma/bulma";

.hero.homepage {
  background-image: url(https://i.ytimg.com/vi/p4SHuC8syqA/maxresdefault.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
a.navbar-item:active{
  color: #f44336;
}
a.navbar-item:hover {
    background-color: transparent;
    color: #f44336;
}
a:hover{
  color: #f44336;
}
.navbar-item, .navbar-link{
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
}
.navbar-menu {
  background-color: black;
}
body{
  background-color: black;
  color: white;
}
.title, .subtitle{
  color: black;
}
p{
  color: white;
}
strong{
  color: white;
}
form.favorite button {
  background: transparent;
  border: none;
  position: absolute;
  color: red;
  outline: none;
  z-index: 1;
}
.is-fixed-top{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.section {
    padding: 5rem 1.5rem;
}
label.error {
  color: red;
}

input.error, textarea.error {
  border: 1px solid red !important;
}
