@import "bulma/sass/utilities/initial-variables";

$primary: orange;
$danger: #f9628b;
$family-serif: 'Georgia', serif;
$family-primary: $family-serif;

@import "bulma/bulma";

html, body {
  min-height: 100vh;
}

.center{
  margin: 0 auto;
  width: 400px;
}
.imgCard{
  max-height: 334px;
  min-height: 334px;
}

.card {
  .card-image {
    height: 460px;

    @media screen and (max-width: 1216px) {
      height: 320px;
    }

    @media screen and (max-width: 1023px) {
      height: 720px;
    }

    @media screen and (max-width: 768px) {
      height: 800px;
    }

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero.homepage {
  background-image: url(https://i.ytimg.com/vi/p4SHuC8syqA/maxresdefault.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

a.navbar-item.activeM{
  color: #f44336;
}
a.navbar-item.activeD{
  color: #f44336;
}
a.navbar-item.activeH{
  color: #f44336;
}

a.navbar-item.activeF{
  color: #f44336;
}
a.navbar-item.activeNm{
  color: #f44336;
}
a.navbar-item.activeNd{
  color: #f44336;
}
a.navbar-item.activeR{
  color: #f44336;
}
a.navbar-item.activeL{
  color: #f44336;
}

a.navbar-item:hover {
    background-color: transparent;
    color: #f44336;
}
a:hover{
  color: #f44336;
}
.navbar-item, .navbar-link{
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
}
.navbar-menu {
  background-color: black;
}
body{
  background-color: black;
  color: white;
}
.title, .subtitle{
  color: white;
}
.card-content .title, .subtitle{
  color: black;
  font-size: 21px;
  margin-bottom: 0;
}
p{
  color: white;
}
.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: red;
    color: red;
    font-size: x-small;
}
.button.is-danger.is-outlined:hover {
    background-color: red;
    border-color: red;
    color: black;
}
.box p {
  color: black;
  }
.box h2 {
  color: black;
}
.image img{
  border: 1px solid white;
}
.label{
  color: white;
}
strong{
  color: white;
  text-decoration: underline;
}
form.favorite button {
  background: transparent;
  border: none;
  position: absolute;
  color: red;
  outline: none;
  z-index: 1;
}
.is-fixed-top{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.button.youtube {
    background-color: red;
    border-color: transparent;
    color: black;
}
.section {
    padding: 5rem 1.5rem;
}
label.error {
  color: red;
}

input.error, textarea.error {
  border: 1px solid red !important;
}
